<div class="relative flex flex-col md:flex-row w-full bg-white border border-slate-200 rounded-lg">
    <div class="relative md:w-2/5 shrink-0 overflow-hidden">
        <div class="bg-[#00000080] text-6xl text-white absolute w-full h-full overflow-hidden flex justify-center items-center text-center rounded-tl-md rounded-bl-md">
            {{date}}
        </div>
        <img src="{{thumbnail}}" alt="card-image" class="h-full w-full rounded-md md:rounded-lg object-cover" />
    </div>
    <div class="p-6">
        <a class="text-primary hover:text-orange-600 font-semibold text-sm">{{location}}</a>
        <h4 class="mb-2 mt-2 text-lg font-semibold line-clamp-2">{{title}}</h4>
        <p class="mb-4 line-clamp-3">
            {{description}}
        </p>
    </div>
</div>